body {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    margin: 0;
    font-size: 16px;
}
/* header stuff here */
header {
    background-color: #ffffff;
    padding: 1rem 10px;
}
header span {
    color: #1565c0;
    font-size: 1.6rem;
    font-weight: 700;
}
header h1 {
    color: #1565c0;
    font-size: 1.6rem;
    font-weight: 700;
}
header p {
    margin: 0;
    color: red;
    font-size: 1.22rem;
    letter-spacing: 2px;
}

/* navigation stuff here */
nav {
    background-color: #010a0e;
}
nav ul {
   margin: 0;
    list-style-type: none;
    padding: 0 10px;
    display: flex;
}
nav a {
    display: block;
    padding: .83rem 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: #1f79e0;
    font-weight: 700;
}

nav .active a {
    background-color: #1f79e0;
    color: #010a0e
}
nav a:hover {
    color: #ffffff
}


/* main stuff here */
main {
    padding: 1rem 10px;
}

main h1 {
    color: #1b5e20;
}
main h2 {
    color: #1f79e0;
    margin-bottom: .2rem
}
main p {
    margin: 0;
    color: #333;
}
main a {
    color: #1565c0;
}

.wrapimage {
    width: 50%;
    margin: 0;
    float: right;
    margin-left: 2vw;
}
.wrapimage img {
    width: 100%;
    height: auto;
}
.wrapimage figcaption {
    text-align: center;
    font-size: .8rem;
}

.myform fieldset {
    border: 1px solid #1565c0;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.myform legend {
    color: #1565c0;
    font-size: .8rem;
}

.myform label {
    margin: .5rem;
}
.myform label, .myform select, .myform [type=text], .myform [type=tel], .myform [type=email],.myform textarea {
    display: block;
}

.myform [type=text], .myform [type=tel],.myform [type=email], .myform select, .myform textarea {
    border: solid 1px #888;
    padding: .3rem;
    width: 250px;
    border-radius: .3rem;
     font-family: "Montserrat", sans-serif;;
    font-weight: 200;

}
.myform textarea {
height: 6rem;
}

.myform :required {
    background-color: rgba(10, 77, 94, 0.1);
}
.myform [type=submit] {
    background-color: #1565c0;
    border: none;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: white;
    margin: 1rem 0 0 1vw;
}











/* footer stuff here */
footer {
    background-color: #ffffff;
    text-align: center;
    padding: 1rem 0;
    font-size: .8rem;
    color: #333;
}
footer a {
    color: #024873;
}